.closebutton {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  padding: 0.4em 0.6em;
  background-color: rgba(130, 202, 151, 1);
  outline: none;
  border-radius: 50%;
  border: 0;
  position: absolute;
  float: left;
  margin-left: 2rem;
}

.crossbutton {
  width: 30px;
  height: 30px;
  padding: 0.2em;
}
