body {
  margin: 0;
  width:auto!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div#root{
  height:100vh;
  overflow-y: auto;
}